*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
.banner{
    background-image: url(background4.jpg);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

.index_background{
    background-image: url(background5.jpg);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}
.background{
    background-image: url(background4.jpg);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
button{
    width: 140px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #198754;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #198754;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover {
    border: none;
}

.container {
    display: flex;
    justify-items: center;
    position: absolute;
    margin: 250px;
    transform: translateY(-100px);
    transform:  translateX(50px);
}

.card{
    background-color: wheat;
    margin: 30px;
}